.deleteButtonContainer {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.deleteButtonWithReason {
  display: flex;
  align-items: center;
  gap: 8px;
}

.deleteDisabledReasonIcon {
  color: var(--helpTextColor);
}
